*,
body {
  background-image: url(../assets/login.avif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  border: 2px solid black;
  width: 40%;
  border-radius: 20px;
  padding: 20px;
  height: 20px;
  background-image: url(../assets/login.avif);
}
.container h3 {
  text-align: center;
  margin-top: 0%;
  color: whitesmoke;
  font-weight: 1000;
}
input {
  border-radius: 10px;
  width: 300px;
  height: 25px;
  margin-top: 8px;
  margin-left: 22%;
  background-color: rgb(238, 230, 230);
  border: 0cap;
  padding-left: 14px;
  margin-bottom: 8px;
}

.input1 {
  width: 100px;
  height: 25px;
  margin-top: 40px;
  margin-left: 40%;
  background-color: blue;
  border-radius: 20px;
  border: 0cap;
  color: aliceblue;
}
